body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.card{
    display: flex;
    width: 24%;
    height: 350px;
    background-color: rgb(242, 247, 253);
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card button{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card h2{
    text-align: center;
}

.card P{
    text-align: center;
}


